### Q1.

**MongoDB is a popular open-source NoSQL document-oriented database that provides high scalability and flexibility for managing unstructured or semi-structured data. MongoDB stores data in JSON-like documents, which can be nested and have various fields and values. It also supports dynamic schemas, allowing you to store data without predefining a schema. MongoDB provides powerful querying and indexing capabilities, and it can handle large amounts of data with ease.**

**Non-relational databases, or NoSQL databases, are databases that do not use the traditional relational model used by SQL databases. They are designed to handle unstructured or semi-structured data, which can vary greatly in structure and format. Non-relational databases typically use flexible data models, which can easily accommodate changes in data structure or data types.**

**There are various scenarios in which MongoDB is preferred over SQL databases. Some of these scenarios include:-**

**1. Big data: MongoDB is designed to handle big data and can scale horizontally across multiple nodes in a cluster, making it an excellent choice for high-volume, high-velocity data applications.**

**2. Real-time data: MongoDB can handle real-time data streaming and analysis, making it an ideal choice for applications that require real-time analytics and reporting.**

**3. Agile development: MongoDB's flexible schema and dynamic document model make it easy to iterate and evolve applications quickly, making it a great choice for agile development environments.**

**4. Cloud-based applications: MongoDB is well-suited for cloud-based applications that require high scalability and performance, as it can easily scale up or down based on demand.**

### Q2.

**MongoDB is a document-oriented NoSQL database management system designed for flexibility, scalability, and performance. Here are some of the features that make MongoDB unique:-**

Schemaless Design: MongoDB is a schemaless database, meaning that it doesn't require a fixed schema or table structures to store data. This makes it easy to modify data structures and add or remove fields as necessary, without having to update the entire schema.

Document-based Storage: In MongoDB, data is stored in JSON-like documents, which can be nested and have complex structures. This allows for more flexible and expressive data models, and makes it easy to store data in a way that matches the application's needs.

Scalability: MongoDB is designed to scale horizontally by distributing data across multiple servers or nodes in a cluster. This allows for higher availability, fault tolerance, and increased throughput as the application grows.

Indexing: MongoDB supports multiple types of indexing, including single field, compound, text, and geospatial indexes. Indexes can improve query performance and make it easier to search for specific data in large collections.

Aggregation Framework: MongoDB provides a powerful aggregation framework that allows for complex data analysis and processing using pipelines of operations. This makes it possible to group, filter, transform, and calculate data within the database, reducing the amount of data that needs to be transferred to the application.

High Availability and Fault Tolerance: MongoDB provides features such as replica sets and sharding to ensure high availability and fault tolerance. Replica sets allow for automatic failover in the event of a node failure, while sharding allows for data to be distributed across multiple servers for improved scalability and availability.

Document Validation: MongoDB allows you to define validation rules for documents, ensuring that data conforms to specific constraints before it is inserted or updated in the database. This can help maintain data integrity and consistency.

### Q3.

In [3]:
!pip install pymongo
import pymongo
client = pymongo.MongoClient("mongodb+srv://ghoshsayan:sayan12345@cluster0.ffelsxz.mongodb.net/?retryWrites=true&w=majority")
db = client["SAYANDATA"]
Collection_Create = db["Record_of_data"]

Requirement already satisfied: pymongo in c:\users\dell\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\dell\anaconda3\lib\site-packages (from pymongo) (2.3.0)

### Q4.

In [4]:
## Insert one record

data = {"name": "John",
        "address": "Highway 37"
    
}

In [5]:
Collection_Create.insert_one(data)

In [6]:
## Insert Multiple Record

data1 = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [7]:
Collection_Create.insert_many(data1)

In [8]:
## use find_one method

Collection_Create.find_one()

{'_id': ObjectId('64171db8498b22ed034d4524'),
 'name': 'John',
 'address': 'Highway 37'}

In [26]:
## Use find method

for i in Collection_Create.find():
    print(i)

{'_id': ObjectId('64171db8498b22ed034d4524'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64171def498b22ed034d4525'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64171def498b22ed034d4526'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64171def498b22ed034d4527'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64171def498b22ed034d4528'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64171def498b22ed034d4529'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64171def498b22ed034d452a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64171def498b22ed034d452b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64171def498b22ed034d452c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64171def498b22ed034d452d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64171def498b22ed034d452e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64171def498b22ed034d452f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64171def498b22ed034d4530'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64181e6734e253a4f601a8ae'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64181e6834e253a4f601a8af'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64181e6834e253a4f601a8b0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64181e6834e253a4f601a8b1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64181e6834e253a4f601a8b2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64181e6834e253a4f601a8b3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64181e6834e253a4f601a8b4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64181e6834e253a4f601a8b5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64181e6834e253a4f601a8b6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64181e6834e253a4f601a8b7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64181e6834e253a4f601a8b8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64181e6834e253a4f601a8b9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64181e6834e253a4f601a8ba'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Q5.

**The find() method is used in MongoDB to query a database collection for documents that match a certain set of criteria. This method takes in a query object that specifies the criteria to match against, and returns a cursor object that can be iterated over to access the matching documents.**

In [10]:
for i in Collection_Create.find():
    print(i)

{'_id': ObjectId('64171db8498b22ed034d4524'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64171def498b22ed034d4525'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64171def498b22ed034d4526'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64171def498b22ed034d4527'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64171def498b22ed034d4528'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64171def498b22ed034d4529'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64171def498b22ed034d452a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64171def498b22ed034d452b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64171def498b22ed034d452c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64171def498b22ed034d452d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64171def498b22ed034d452e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64171def498b22ed034d452f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64171def498b22ed034d4530'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64181e6734e253a4f601a8ae'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64181e6834e253a4f601a8af'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64181e6834e253a4f601a8b0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64181e6834e253a4f601a8b1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64181e6834e253a4f601a8b2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64181e6834e253a4f601a8b3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64181e6834e253a4f601a8b4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64181e6834e253a4f601a8b5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64181e6834e253a4f601a8b6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64181e6834e253a4f601a8b7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64181e6834e253a4f601a8b8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64181e6834e253a4f601a8b9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64181e6834e253a4f601a8ba'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Q6.

**The sort() method in MongoDB is used to sort the results of a query in either ascending or descending order based on one or more fields. The sort() method takes one parameter, which is an object that specifies the fields to sort on and the order to sort them in.**

In [27]:
for i in Collection_Create.find().sort('address', pymongo.DESCENDING):
    print(i)

{'_id': ObjectId('64171def498b22ed034d452c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64181e6834e253a4f601a8b6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64171def498b22ed034d4527'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64181e6834e253a4f601a8b1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64171def498b22ed034d452a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64181e6834e253a4f601a8b4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64171def498b22ed034d4530'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64181e6834e253a4f601a8ba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64171def498b22ed034d452d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64181e6834e253a4f601a8b7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64171def498b22ed034d452b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64181e6834e253a4f601a8b5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64171def498b22ed034d4528'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64181e6834e253a4f601a8b2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64171def498b22ed034d4526'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64181e6834e253a4f601a8b0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64171def498b22ed034d452f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64181e6834e253a4f601a8b9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64171db8498b22ed034d4524'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64181e6734e253a4f601a8ae'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64171def498b22ed034d4529'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64181e6834e253a4f601a8b3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64171def498b22ed034d452e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64181e6834e253a4f601a8b8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64171def498b22ed034d4525'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64181e6834e253a4f601a8af'), 'name': 'Amy', 'address': 'Apple st 652'}

In [24]:
Collection_Create.find().sort('address', pymongo.ASCENDING)

### Q7.

**delete_one(): This method is used to remove a single document from a collection that matches a given filter. It takes a filter object as an argument, which specifies the criteria for selecting the document to be removed. If more than one document matches the filter, only the first matching document will be deleted.**

**delete_many(): This method is used to remove multiple documents from a collection that match a given filter. It takes a filter object as an argument, which specifies the criteria for selecting the documents to be removed. If multiple documents match the filter, all of them will be deleted.**

**drop(): This method is used to remove an entire collection from the database. It does not take any arguments and simply drops the collection from the database.**